<!DOCTYPE html>
<!-- Aï¿½adimos el nameSpace de seguridad de Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:h="http://www.w3.org/2000/svg">

<head th:replace="layout/layout :: head">

</head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<!-- Volver a la página inicial -->
		<a  class="btn btn-outline-success btn-sm" style="margin-top: 10px;" 
			th:href="@{/inicio}"> &laquo Volver atr&aacute;s</a>
	</div>
	<!-- Py-4 : Nos da un margen de ancchura en el "listado de clientes". -->
	<div class="container py-4">

		<!-- bg-light: Le da un fondo de color a la tabla grisaceo -->
		<div class="card bg-light" title="Botones de Ejecución">
			<div class="card-header">Informes de ficheros diarios</div>
			<div class="card-body">

				<h4 class="card-title">

					<a  class="btn btn-outline-success btn-sm" aria-pressed="true"
							th:href="@{/ejecutarHojaUno}">Ejecuci&oacute;n Fichero Largo </a> 
					<a  class="btn btn-outline-success btn-sm" aria-pressed="true"
						 	th:href="@{/ejecutarHojaDatosUno(format=xlsx)}">Datos 1 </a>
					<a  class="btn btn-outline-success btn-sm" aria-pressed="true" 
						 	th:href="@{/ejecutarHojaDos(format=xlsx)}">Datos 2 </a>  
					<a  class="btn btn-outline-success btn-sm" aria-pressed="true"
						 	th:href="@{/ejecutarHojaTres(format=xlsx)}"> Datos 3 </a> 
					<a  class="btn btn-outline-success btn-sm" aria-pressed="true"
						 	th:href="@{/ejecutarHojaCuatro(format=xlsx)}"> Datos 4 </a>
				</h4>
										
				<!--  Anadimos el fragmento del paginador. -->
				<!--	<nav th:replace="paginator-nav :: paginator"></nav> -->
			</div>
		</div>
	</div>



	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>