<!DOCTYPE html>
<!-- Aï¿½adimos el nameSpace de seguridad de Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">

</head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<!-- Py-4 : Nos da un margen de ancchura en el "listado de clientes". -->
	<div class="container py-4">

		<!-- bg-light: Le da un fondo de color a la tabla grisaceo -->
		<div class="card bg-light" title="Titulo">
			<div class="card-header">Informes de ficheros diarios</div>
			<div class="card-body">
	
				<h4 class="card-title">			
					 PÁGINA INICIAL  
				</h4>
			</div>
		</div>
	</div>
	
	

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>